/* Barras */
.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.menu-icon i {
    font-size: 2em;
}

/* Menú */
.menu {
    display: none;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #333;
}

/* Mostrar el menú */
.menu--visible {
    display: block;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .menu-icon i {
        font-size: 1.5em;
    }

    .menu {
        top: 50px;
    }

    .menu li {
        border-top: 1px solid #ccc;
    }

    .menu a {
        padding: 0.5em;
    }

    .menu--visible {
        display: block;
        opacity: 0;
        animation: fade-in 0.3s ease forwards;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}