header{
    height: 10vh;
    width: 100vw;
    background: #aaa;
}

/* LOGO */
header h1{
    position: absolute;
    top: 0.2em;
    left: .5em;
}

.menu-close, .menu-icon{
    display: none;
}

/* Barras */
div i {
    font-size: 3.5em;
    position: absolute;
    top: 0.2em;
    right: .5em;
    cursor: pointer;
}

/* Menú */
nav {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
}

.menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #333;
}

/* Mostrar el menú */
.menu--visible {
    display: block;
}

/* Responsive */
@media only screen and (max-width: 768px) {

    .menu {
        top: 80px;
        display: none;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }

    .menu-close, .menu-icon{
        display: block;
    }

    nav{
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
    }
    nav ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .menu li {
        border-top: 1px solid #ccc;
        width: 100%;
    }

    .menu a {
        padding: 0.5em;
    }

    .menu--visible {
        display: block;
        opacity: 0;
        animation: fade-in 0.3s ease forwards;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Cerrar menú */
.menu-close {
    display: none;
}
